# SQL Assignment  

Name: MOHD KHALIL

## Question no 1: DDL, DML and DQL


SQL is broadly divided into different sub-languages based on their functionality. The three most important among them are DDL, DML, and DQL.

**Data Definition Language (DDL)** is used to define and manage the structure of database objects. It deals with schema-level operations. Commands such as CREATE, ALTER, DROP, and TRUNCATE come under DDL. For example, CREATE TABLE is used to define the columns, data types, and constraints of a table. DDL commands permanently change the database structure and are auto-committed.

**Data Manipulation Language (DML)** is used to manipulate data stored inside tables. Common commands include INSERT, UPDATE, and DELETE. These commands do not affect the structure of the database but operate on the records. DML commands can be rolled back if transactions are used.

**Data Query Language (DQL)** is primarily concerned with retrieving data from the database. The SELECT statement is the core of DQL and is widely used for reporting and analysis.

```sql
CREATE TABLE Student(ID INT, Name VARCHAR(50));
INSERT INTO Student VALUES (1, 'Ali');
SELECT * FROM Student;
```

In summary, DDL defines structure, DML modifies data, and DQL retrieves information, making them essential pillars of SQL.

## Question 2: SQL Constraints


SQL constraints are rules applied to table columns to ensure the accuracy, validity, and integrity of data stored in the database.

A **PRIMARY KEY** uniquely identifies each record in a table and does not allow NULL values. It ensures entity integrity.

A **NOT NULL** constraint ensures that a column must always contain a value. This is useful for mandatory fields like names or dates.

A **UNIQUE** constraint prevents duplicate values in a column, ensuring data uniqueness such as email addresses.

Constraints help prevent invalid data entry and maintain consistency across relational databases.

## Question 3: LIMIT and OFFSET


LIMIT and OFFSET are used together to implement pagination in SQL queries.

The LIMIT clause restricts the number of rows returned, while OFFSET skips a specific number of rows before starting to return records.

For example, in a table containing 100 records, to display records on the third page with 10 records per page, OFFSET skips the first 20 records.

```sql
SELECT * FROM Employees LIMIT 10 OFFSET 20;
```

Pagination improves performance and enhances user experience in large datasets.

## Question 4: Common Table Expression (CTE)


A Common Table Expression (CTE) is a temporary result set defined within a SQL statement using the WITH keyword.

CTEs improve query readability, reduce complexity, and help break large queries into logical parts. They are especially useful in recursive queries and analytical calculations.

```sql
WITH HighSalary AS (
 SELECT name, salary FROM employees WHERE salary > 50000
)
SELECT * FROM HighSalary;
```

CTEs exist only during query execution and do not store data permanently.

## Question 5: Database Normalization


Normalization is the process of organizing data to minimize redundancy and improve data integrity.

**First Normal Form (1NF)** ensures atomic values and eliminates repeating groups.
**Second Normal Form (2NF)** removes partial dependencies.
**Third Normal Form (3NF)** removes transitive dependencies.

Normalization results in efficient storage, reduced anomalies, and better database performance.

## Question 6: E-Commerce Database Creation


This question involves designing a relational database for an e-commerce system.

Multiple tables are created with proper primary keys, foreign keys, and constraints to ensure data integrity.

```sql
CREATE TABLE Categories (
 CategoryID INT PRIMARY KEY,
 CategoryName VARCHAR(50) UNIQUE NOT NULL
);
```

The use of foreign keys establishes relationships between tables, enabling referential integrity.

## Question 7: Customer Order Report


This query generates a customer-wise order summary using joins and aggregation functions.

LEFT JOIN is used to include customers with zero orders. COUNT function calculates total orders.

```sql
SELECT c.CustomerName, COUNT(o.OrderID)
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID=o.CustomerID
GROUP BY c.CustomerName;
```

Such reports are widely used in business intelligence and CRM systems.

## Question 8: Product and Category Information


This query retrieves product details along with their category names.

INNER JOIN ensures only matching records are displayed.

```sql
SELECT p.ProductName, c.CategoryName
FROM Products p
JOIN Categories c ON p.CategoryID=c.CategoryID;
```

Sorting improves readability and reporting quality.

## Question 9: Top Expensive Products per Category


Window functions allow advanced analytics without grouping data.

ROW_NUMBER assigns ranks within each category based on price.

```sql
ROW_NUMBER() OVER(PARTITION BY category ORDER BY price DESC)
```

This approach is efficient and commonly used in ranking-based business queries.

## Question 10: Sakila Database Analysis


The Sakila database is a sample DVD rental database used for advanced SQL practice.

Complex joins, aggregation, grouping, and date filtering are used to derive insights such as:
- Top customers
- Popular categories
- Monthly revenue trends

These queries demonstrate real-world data analytics use cases in SQL.